In [1]:
#in OHE if there are n categories there will be n columns formed after one hot encoding, so we remove one column usually the first one and it has n-1 columns left and it is called the Dummy Variable Trap

In [2]:
# we remove the column to avoid multicollinearity--i.e mathematical relationship between the columns

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('../input/carsdata/cars.csv')

In [5]:
df.sample(5)

         brand  km_driven    fuel        owner  selling_price
3796    Maruti     120000     LPG  Third Owner         110000
4167   Hyundai      30000  Petrol  First Owner         458000
4343  Mahindra     100000  Diesel  First Owner         484999
3040  Mahindra      70000  Diesel  First Owner         700000
6937    Maruti      40000  Petrol  First Owner         500000

In [6]:
df['owner'].value_counts()

First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: owner, dtype: int64

# One Hot Encoding Using Pandas

In [7]:
pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,0,1,1,0,0,0,0
8124,Hyundai,119000,135000,0,1,0,0,0,1,0,0,0
8125,Maruti,120000,382000,0,1,0,0,1,0,0,0,0
8126,Tata,25000,290000,0,1,0,0,1,0,0,0,0
8127,Tata,25000,290000,0,1,0,0,1,0,0,0,0

# One Hot Encoding using Pandas and K-1 Columns