In [1]:
#in OHE if there are n categories there will be n columns formed after one hot encoding, so we remove one column usually the first one and it has n-1 columns left and it is called the Dummy Variable Trap

In [2]:
# we remove the column to avoid multicollinearity--i.e mathematical relationship between the columns

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('../input/carsdata/cars.csv')

In [5]:
df.sample(5)

           brand  km_driven    fuel         owner  selling_price
4557     Hyundai      40800  Petrol   First Owner         300000
1744  Volkswagen      52000  Diesel   First Owner         555000
4197        Tata      35000  Diesel   First Owner         830000
5339    Mahindra      50000  Diesel   First Owner         500000
2683       Honda     120000  Diesel  Second Owner         550000

In [6]:
df['owner'].value_counts()

First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: owner, dtype: int64

# One Hot Encoding Using Pandas