In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('../input/customer/customer.csv')

In [3]:
df.sample(5)

    age  gender   review education purchased
16   59    Male     Poor        UG       Yes
30   73    Male  Average        UG        No
36   34  Female     Good        UG       Yes
20   57  Female  Average    School       Yes
24   16  Female  Average        PG       Yes

In [4]:
df = df.iloc[:,2:]

In [5]:
df.sample(5)

     review education purchased
36     Good        UG       Yes
48     Good        UG       Yes
2      Good        PG        No
32  Average        UG       Yes
12     Poor    School        No

In [6]:
#let us import the Ordinal Encoder
from sklearn.preprocessing import OrdinalEncoder

In [7]:
X_train = df.drop('purchased',axis=1)

In [8]:
X_train.sample(5)

   review education
41   Good        PG
1    Poor        UG
42   Good        PG
46   Poor        PG
9    Good        UG

In [9]:
# As in ordinal data there is a relationship between the terms lets us define them
oe = OrdinalEncoder(categories=[['Poor','Average','Good'], ['School','UG','PG']])

In [10]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [11]:
X_train_transformed= oe.transform(X_train)

In [12]:
X_train_transformed

array([[1., 0.],
       [0., 1.],
       [2., 2.],
       [2., 2.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [0., 0.],
       [1., 1.],
       [2., 1.],
       [2., 1.],
       [2., 1.],
       [0., 0.],
       [1., 0.],
       [0., 2.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [2., 0.],
       [0., 2.],
       [1., 0.],
       [1., 2.],
       [0., 2.],
       [2., 0.],
       [1., 2.],
       [2., 0.],
       [0., 2.],
       [0., 2.],
       [0., 0.],
       [1., 1.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [2., 2.],
       [1., 0.],
       [0., 0.],
       [2., 1.],
       [1., 2.],
       [2., 0.],
       [0., 2.],
       [2., 0.],
       [2., 2.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [2., 1.]])

In [13]:
pd.DataFrame(X_train_transformed,columns = X_train.columns)

    review  education
0      1.0        0.0
1      0.0        1.0
2      2.0        2.0
3      2.0        2.0
4      1.0        1.0
5      1.0        0.0
6      2.0        0.0
7      0.0        0.0
8      1.0        1.0
9      2.0        1.0
10     2.0        1.0
11     2.0        1.0
12     0.0        0.0
13     1.0        0.0
14     0.0        2.0
15     0.0        1.0
16     0.0        1.0
17     0.0        1.0
18     2.0        0.0
19     0.0        2.0
20     1.0        0.0
21     1.0        2.0
22     0.0        2.0
23     2.0        0.0
24     1.0        2.0
25     2.0        0.0
26     0.0        2.0
27     0.0        2.0
28     0.0        0.0
29     1.0        1.0
30     1.0        1.0
31     0.0        0.0
32     1.0        1.0
33     2.0        2.0
34     1.0        0.0
35     0.0        0.0
36     2.0        1.0
37     1.0        2.0
38     2.0        0.0
39     0.0        2.0
40     2.0        0.0
41     2.0        2.0
42     2.0        2.0
43     0.0        2.0
44     1.0        1.0
45     0.0        2.0
46     0.0        2.0
47     2.0        2.0
48     2.0        1.0
49     2.0        1.0